.carousel {
  overflow: hidden; /* Hide overflow to create the carousel effect */
  width: 120%; /* Full width of the parent container */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  background-color: #a0c8a4;
}
.track {
  display: flex;
  width: calc(200%);
  animation: scroll 30s linear infinite;
}

.iconWrapper {
  min-width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%); /* Move by half the content's width */
  }
}
